body {
  margin:0;
  padding: 0;
  background: #ffcc99;
}

#banner .container,
main
 {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:block;
  -webkit-flex-flow:row wrap;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
  -webkit-justify-content:space-around;
      -ms-flex-pack:distribute;
          justify-content:space-around;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:0 auto;
}
#banner{
  /*position: relative;*/
  /*z-index: 1;*/
  background: url('../images/red-background.png') !important;
  height:80px;
  box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color:#990000;
}
#banner .container{width:90%;max-width:1150px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;
}
#banner .container::before, #banner .container::after{display:none
}
#banner img{height:70px; margin: 3px 0;
}
#banner li {
  font-size: 18px;
}
#banner a.selected {
  /*font-weight: bold;*/
  color: #fff;
}

#navbar {
  margin-top: 20px;
  float: right;
}
@media(max-width:768px){
  nav{padding:5px;text-align:center;margin:0 auto;width:120%;
  }
  nav .active a{color:#722872;background:#bbb;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
}
.nav>li{height:100%;text-transform:uppercase;letter-spacing:2px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;
}
.nav>li a{color:#ffffff;padding:10px 20px;
}
.nav>li a:hover{color:#722872;background:#bbb;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.navbar-toggle{margin-right:0;
}


nav{
  font-size:13px;
  /*background:#722872;*/
  -webkit-transition:all .3s;
  transition:all .3s;
}

main {
  margin-top:80px;
}
main .container {
  width: 85%;
  height: 1132px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding-right:0;
}
article, aside {
  /*font-family: 'Lato', sans-serif;*/
  /*font-weight: 400;*/
  font-size: 14px;
  height: 100%;
}
article .value {
  font-weight: bold;
  color: #A94442;
}
article {
  float: left;
  width: 60%;
  border-right: 1px solid silver;
}
#prePanel, #currentPanel {
  padding-right: 10px;
}

article .thumbnail {
  border: 0;
}

article .frame {
  height: 158px;
  position: relative;
}

.frame img{
  position: absolute;
  bottom: 0;
}


aside {
  float: right;
  width:40%;
  /*height: 200px;*/
  background-color: #ffffe6;
  padding: 10px;
}

footer{
  color:#fff;
  text-align:center;
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  height: 60px;
  line-height: 60px;
  background: url('../_images/red-background.png') !important;
}
#popup-template .modal-title{
  font-size: 1.6em;
  color: #000033;

}
#value-slider {
  position: relative;
  z-index: 0;
}
#value-slider .slider-selection {
	background: #428041;
}


#value-slider .slider-handle {
	background: green;
}

.slider-horizontal {
  width: 350px !important;
}
aside {
  padding:20px 20px 0 20px;
}

#section-above {
  padding: 20px 0 20px;
}

#section-above p {
  margin-bottom: 29px;
  color: gray;
  font-size: 1.2em;
}
#section-below p {
  height: 230px;
  width: 270px;
  margin: auto;
  font-size: 36px;
  color: #999;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  border: 6px dashed #999;
  margin-top: 1em;
}
#section-below {

}

#section-below table {
  margin-top: 50px;
  /*color: #999;*/
  padding: 20px 20px 20px 20px;

}
#section-below button {
  /*margin:10px;*/
  margin-left:10px;
  float: right;
}

.glyphicon  {
  background: transparent;
  border: none;
}
